.titleContainer {
  margin: 24px 0 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(242, 244, 247, 0.95) 1%,
    rgba(71, 84, 103, 0.9) 40%
  );
  color: var(--light-gray);
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.gif {
  background-color: transparent;
  width: 100px;
}
