.linkContainer {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  padding-bottom: 24px;
}

.link:hover,
.link:focus {
  border-bottom: 5px solid var(--red);
}
