.navContainer {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  padding-bottom: 24px;
}

.navigate {
  position: relative;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.navigateActive {
  position: relative;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.navigateActive::after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: var(--red);
  display: block;
  position: absolute;
  margin-top: 22px;
  border-radius: 1px;
}

.link:hover,
.link:focus {
  color: var(--dark-gray);
  transition: color 200ms lianer;
}
