.backgroundContainer {
  margin-top: 24px;
  border-radius: 10px;
  background-image: linear-gradient(
      90deg,
      rgba(16, 16, 16, 0.6) 10%,
      rgba(35, 36, 38, 0.7) 40%
    ),
    url('../../assets/camper-family.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.textContainer {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 48px;
  background-color: var(--dark-gray);
}

.quot {
  color: var(--white);
  font-size: 24px;
  font-weight: 100;
  padding: 48px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 32px;
  text-align: left;
}

.mainText {
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  width: 500px;
  text-align: left;
  margin-bottom: 24px;
}

.text {
  color: var(--white);
  text-align: left;
}
