.detailsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px 0 0 0;
  border-top: 1px solid #10182833;
}

@media screen and (min-width: 1440px) {
  .detailsList {
    gap: 10px;
  }
}

.detailsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 63px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.1);
  transition: all 200ms linear;
}

.detailsItem:hover,
.detailsItem:focus {
  border-color: var(--red);
}

@media screen and (min-width: 1440px) {
  .detailsItem {
    width: 113px;
    height: 95px;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
}

@media screen and (min-width: 1440px) {
  .inputContainer {
    gap: 8px;
  }
}

.detailIcon {
  fill: transparent;
  stroke: var(--black);
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 1440px) {
  .detailIcon {
    width: 32px;
    height: 32px;
  }
}

.icon {
  fill: var(--black);
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 1440px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.checkboxText {
  font-weight: 500;
  text-align: center;
  color: var(--black);
  font-size: 14px;
}

@media screen and (min-width: 1440px) {
  .checkboxText {
    font-size: 16px;
  }
}
